<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Daily News</title>
        <link rel="stylesheet" href="{{url_for('static',filename='stylemain.css')}}"/>
    </head>
    <body>
        <header>
            <div class="main">
                <ul>
                    <li><a href="{{url_for('index')}}">Home</a></li>
                    <li><a href="{{url_for('login')}}">Login</a></li>
                    <li><a href="{{url_for('signup')}}">Signup</a></li>
                </ul>
            </div>
            <div class="title1">
                <h1>Welcome<br>to<br>Daily News</h1>
            </div>
        </header>
    </body>
</html>